{% extends 'back.html.twig' %}

{% block title %}Reponse{% endblock %}

{% block body %}
    <h1>Reponse</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse in reponses %}
            <tr>
                <td>{{ reponse.contenu }}</td>
                <td>
                    <a href="{{ path('app_reponse_show', {'id': reponse.id}) }}">show</a>
                    <a href="{{ path('app_reponse_edit', {'id': reponse.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a  class="btn btn-lg btn-primary" href="{{ path('app_reponse_new') }}">Create new</a>

    <a  class="btn btn-lg btn-primary" href="{{ path('app_conseil_index1') }}">Conseil disponible</a>
    <a  class="btn btn-lg btn-primary" href="{{ path('app_type_cons_index') }}">Consulter Type des conseil</a>
{% endblock %}
