{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}



{% form_theme registrationForm 'bootstrap_5_horizontal_layout.html.twig' %} 

    <centre>
   
    <h1>Register</h1>
          {{ form_start(registrationForm,{'attr':{'novalidate' : 'novalidate'}} ) }}
<<<<<<< Updated upstream
<<<<<<< HEAD
 {{ form_row(registrationForm.username) }}
=======

>>>>>>> GestionUser
=======
 {{ form_row(registrationForm.username) }}
>>>>>>> Stashed changes
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.adresse) }}


        {{ form_row(registrationForm.plainPassword.first, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.plainPassword.second, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-outline-success">Register</button>
    {{ form_end(registrationForm) }}

 
    </centre>

  
{% endblock %}
