{% extends 'back.html.twig' %}

{% block title %}TypeReclamation index{% endblock %}

{% block body %}
    <h1>TypeReclamation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Typereclamation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeReclamation in typeReclamations %}
            <tr>
                <td>{{ typeReclamation.id }}</td>
                <td>{{ typeReclamation.typereclamation }}</td>
                <td>
                    <a href="{{ path('app_typeReclamation_show', {'id': typeReclamation.id}) }}">show</a>
                    <a href="{{ path('app_typeReclamation_edit', {'id': typeReclamation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_typeReclamation_new') }}">Create new</a>
</centre>
{% endblock %}
